php_value date.timezone 'UTC'

php_value session.gc_maxlifetime 86400
php_value session.cookie_lifetime 604800

RewriteEngine On

Options -Indexes

RewriteCond %{HTTPS} off 
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^(.+)?$ /web/$1
